{{- $data := (include ".precomputed_data.json" | fromJson) -}}
###
### General Git Configuration
###

[user]
	name = Hunter T.
	email = strangeranger@hthompson.dev
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGiffRcM4tkooHgePhvOjhOZe5vgkFCcBfaKBlIqpe08
[gpg]
    format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "linux" }}
    program = "/opt/1Password/op-ssh-sign"
{{- else if eq .chezmoi.os "darwin" }}
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}
[commit]
    gpgsign = true
[init]
    defaultBranch = main

{{ if $data.isDeltaInstalled -}}
###
### Git Delta Configurations
###

[core]
    pager = delta
	editor = nvim
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    dark = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
{{- end }}

###
### Other Non-specific Configurations
###

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
