#!/usr/bin/env bash
#
# Perform checks to identify if certain tools or components are installed. Once the checks
# are complete, the results are written to a JSON file for later use by other scripts.
#
############################################################################################
####[ Global Variables ]####################################################################


C_OS=$(uname -s)
readonly C_OS

C_GREEN="$(printf '\033[0;32m')"
C_BLUE="$(printf '\033[0;34m')"
C_CYAN="$(printf '\033[0;36m')"
C_NC="$(printf '\033[0m')"
readonly C_GREEN C_BLUE C_CYAN C_NC

readonly C_SUCCESS="${C_GREEN}==>${C_NC} "
readonly C_INFO="${C_BLUE}==>${C_NC} "
readonly C_NOTE="${C_CYAN}==>${C_NC} "

# shellcheck disable=all
C_CHEZMOI_DIR={{ .chezmoi.sourceDir | quote }}
readonly C_CHEZMOI_DIR
# shellcheck enable=all


####[ Main ]################################################################################


echo "${C_INFO}Running precompute script..."

###
### [ Minimum Requirements Check ]
###

echo "${C_INFO}  Checking minimum requirements are met..."

if [[ $C_OS != "Darwin" && $C_OS != "Linux" ]]; then
    echo "${C_ERROR}Unsupported operating system: $C_OS" >&2
    echo "${C_NOTE}These Chezmoi scripts only support macOS and Linux"
    exit 1
fi

if [[ $C_OS == "Darwin" ]] && ! command -v brew &>/dev/null; then
    echo "${C_ERROR}Homebrew is not installed" >&2
    echo "${C_NOTE}Please install Homebrew first"
    exit 1
fi

###
### [ Tool Presence Checks ]
###

echo "${C_INFO}  Checking if 'git-delta' is installed..."
if command -v delta >/dev/null; then
    is_delta_installed=true
else
    is_delta_installed=false
fi

###
### [ GUI/Headless Environment Check ]
###

echo "${C_INFO}  Checking if GUI environment is present..."

if [[ $C_OS == "Darwin" ]]; then
    if launchctl print "gui/$(id -u)" &>/dev/null; then
        is_gui_environment=true
    else
        is_gui_environment=false
    fi
elif [[ $C_OS == "Linux" ]]; then
    if pgrep -x gdm >/dev/null \
        || pgrep -x lightdm >/dev/null \
        || pgrep -x sddm >/dev/null \
        || pgrep -x xorg >/dev/null \
        || pgrep -x wayland >/dev/null \
        || [[ -n $DISPLAY ]] \
        || [[ $XDG_SESSION_TYPE == "wayland" ]] \
        || [[ $XDG_SESSION_TYPE == "x11" ]]
    then
        is_gui_environment=true
    else
        is_gui_environment=false
    fi
fi

###
### [ Write Precomputed Data to File ]
###

echo "${C_INFO}  Writing precomputed data to file..."
cat > "${C_CHEZMOI_DIR}/.precomputed_data.json" <<EOF
{
    "isDeltaInstalled": $is_delta_installed,
    "isGUIEnvironment": $is_gui_environment
}
EOF

echo "${C_SUCCESS}Precompute script completed"
echo ""
